@import '_variables';

.custom-header{
  background-color:#ffffff;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
  .title-sec{
    display: flex;
    align-items: baseline;
    gap: 12px;
  }
}

.container{
  margin-top: 30px;
}

.custom-space{
  margin-bottom:26px;
  .title{
    font-size: 12px;
    margin-top: 12px;
    text-transform: uppercase;
    line-height: 14px;
    font-weight: 500;
    width:114px;
  }
  .author{
    font-size: 12px;
    color: $--color-medium-grey;
    width:114px;
  }
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 999;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.form-control:focus {
  color: #212529;
  background-color: $--color-secondary;
  border: 2px solid;
  border-color: $--color-primary;
  outline: 0;
  box-shadow: none;
  border-radius: 4px;
}

.form-control::placeholder {
  color:$--color-medium-grey;
}

.search{
  background-color: $--color-light-grey;
  border:none;
  height:40px;
  border-radius: 4px;
  font-family: $primary-font;
  font-weight: 600;
}

#searchclear {
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  height: 14px;
  margin: auto;
  font-size: 14px;
  cursor: pointer;
  color: #ccc;
}

.bg-transparent{
  margin-left: -40px !important;
  z-index: 100 !important;
}

.book-card{
  width: 114px;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgb(211 209 238 / 50%);
  height: 162px;
  cursor: pointer;
  .card-body{
    padding:0px;
    max-height: 162px;
  }
}



.book-cover{
  width:100%;
  border-radius: 8px;
  height: 100%;
}

.btn-back{
  cursor: pointer;
}
